#tabs-container {
  margin: 5px;

  width: 100%;
}

[role="tabpanel"] {
  line-height: 1.85;

  height: calc(100% - 14px);
}

hr {
  margin-top: 4px;
  margin-bottom: 5px;
}

#section-file,
#section-info {
  --column-header-width: 60px;
}

#section-attribute {
  --column-header-width: 90px;
}

.column {
  display: flex;
}

.column-header {
  width: var(--column-header-width);
}

label {
  line-height: 1.8;
}

#button-group-container {
  text-align: right;

  margin: 4px 5px 6px 5px;
}