[role="tabpanel"] {
	line-height: 1.85;
}

hr {
	margin-top: 4px;
	margin-bottom: 5px;
}

#section-file,
#section-info {
	--column-header-width: 60px;
}

#section-attribute {
	--column-header-width: 90px;
}

.column {
	display: flex;
}

.column-header {
	width: var(--column-header-width);
	flex-shrink: 0;
}

label {
	line-height: 1.8;
}
