html,
body,
#body-container {
	height: 100%;
}

body {
	overflow: hidden;
}

#body-container {
	gap: var(--window-gap);

	display: flex;
	flex-direction: column;	

	& > hr {
		margin: 0;
	}
}

#content {
	--content-separator-width: 151px;

	--table-separator-name-width: 322px;
	--table-separator-size-width: 150px;
	--table-separator-type-width: 150px;
	--table-separator-mode-width: 150px;

	overflow: auto;

	display: flex;
	flex-grow: 1;
}

.content {
	overflow: auto;

	width: 100%;
	height: 100%;
}

#content-sidebar {
	width: max(var(--content-separator-width), 4px);
}

#content-separator-container {
	position: relative;
	width: var(--window-gap);
}

#content-main {
	flex-grow: 1;
}

#content-list {
	overflow: auto;

	height: 100%;
}
