#tabs-container {
	margin: 6px;

	width: calc(100% - 12px);
}

[role="tabpanel"] {
	height: calc(100% - 14px);
}

#button-group-container {
	gap: 6px;
	margin: 3px 6px 7px 6px;

	display: flex;
	justify-content: end;
}

.list-container {
	background-color: var(--color-window);
	box-shadow: var(--border-field);

	padding: 2px;
}

.list {
	overflow: auto;

	padding-bottom: 10px;

	height: 100%;

	& > li {
		line-height: 1;
		border: 1px dotted transparent;

		padding: 0 1px;

		display: flex;

		&[selected] {
			background-color: var(--color-highlight);
			color: var(--color-highlight-text);
			border-color: #ff0;
		}
	}
}
