#table {
	height: calc(100% - 17px);
}

#table-header {
	position: sticky;
	top: 0;
	display: flex;
}

.table-header-button-container {
	position: relative;
	display: flex;
}

.table-list-item {
	--list-icon: var(--icon-file);

	/* Directory */
	&[type="2"] {
		--list-icon: var(--icon-dir);
	}

	.list-item-name-container {
		gap: 2px;

		width: var(--table-row);
		min-width: 60px;
	}
}

.list-row {
	padding: 2px 7px;

	width: var(--table-row);
	min-width: 60px;
	height: 100%;
}

#table-name-button,
.list-item-name-container {
	--table-row: var(--table-separator-name-width);
}

#table-size-button,
.list-size {
	--table-row: var(--table-separator-size-width);
}

#table-type-button,
.list-type {
	--table-row: var(--table-separator-type-width);
}

#table-mode-button,
.list-mode {
	--table-row: var(--table-separator-mode-width);
}

.list-rename-input {
	box-shadow: inset 0 0 0 1px var(--color-button-shadow-dark);

	padding: 2px 0 2px 2px;
	margin-left: -3px;

	width: var(--table-separator-name-width);
	height: unset;
}
