#titlebar-icon {
	background-image: var(--titlebar-icon);

	width: var(--icon-size);
	height: var(--icon-size);
}

#titlebar-name {
	font-size: var(--text-ui-size);

	flex-grow: 1;

	app-region: drag;
}

#titlebar-buttons {
	display: flex;
}

#titlebar-button-minimise {
	--button-img: var(--icon-minimize);
	--button-img-size: 6px 2px;
	--button-img-pos: 4px 9px;
}

#titlebar-button-maximise {
	--button-img: var(--icon-maximize);
	--button-img-size: 9px;
	--button-img-pos: 3px 2px;
}

#titlebar-button-restore {
	--button-img: var(--icon-restore);
	--button-img-size: 10px 9px;
	--button-img-pos: 2px 2px;
}

#titlebar-button-close {
	--button-img: var(--icon-close);
	--button-img-size: 8px 7px;
	--button-img-pos: 4px 3px;

	margin-left: 2px;
}
