[role="treeitem"] {
	min-width: 100%;

	[role="tree"] > & {
		margin-left: 0;

		&::before {
			display: none;
		}
	}

	&[empty] {
		&::before {
			border-bottom: none;

			top: -6px;
		}

		.tree-item-icon::before {
			visibility: hidden;
		}
	}

	&[aria-expanded="false"] > & {
		display: none;
	}
}

.tree-item-content {
	&,
	& > .list-item-name-container {
		gap: var(--tree-spacing);
	}
}

.tree-item-image {
	--list-icon: var(--icon-dir);

	z-index: 1;
}
