[role="menubar"] {
	/* What were they thinking ? */
	margin-top: -1px;
}

.statusbar-item {
	/* Original is always 144px, but MS Sans Serif is not being used. */
	min-width: 144px;

	&:last-child {
		flex-grow: 1;
	}
}

[role="toolbar"] {
	margin: 0;
}

.content-container {
	overflow: hidden;
}
